<li class="nav-item has-treeview menu-open">
    <a href='/sec/forajx' class="nav-link active">
      <i class="nav-icon fas fa-table"></i>
      <p>
        Product List I : <span style="color:yellow;">active</span> 
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
  </li>
  <li class="nav-item has-treeview menu-open">
    <a href='/sec/forajxprdct2' class="nav-link">
      <i class="nav-icon fas fa-table"></i>
      <p>
        Product List II
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    </li>