<!DOCTYPE html>
<html>
<body>

<h1>select image</h1>

<h3>host images on firebase</h3>
<form action="/google/upload" enctype="multipart/form-data" method="POST"
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit">
</form>



</body>
</html>
